<div style="background-color: azure; padding: 10px" [formGroup]="form">
    <h2>Core (Feature 2)</h2>
    <a href="javascript: void(0);" (click)="createNew()">Create New</a>

    <div formArrayName="employees">
        <div *ngFor="let item of stocks; let i = index;">
            <div [formGroupName]="i" style="padding: 10px">
                <span>
                    <span>First Name</span>
                    <input formControlName="firstName">
                </span>
                <span>
                    <span>Second Name</span>
                    <input formControlName="secondName">
                </span>
                <button style='background-color: palevioletred' (click)="remove(item, i)">&#45;</button>
                <button (click)="edit(item, i)">&#94;</button>
            </div>
        </div>
    </div>
<!--
    <button (click)="changed.emit('feature2')">feature 2 click</button>
-->
</div>
